.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    /* background-size: contain; */
}
body{
    background-color: rgb(157, 229, 205);
    font-family: "Helvetica", sans-serif;
    color:#333333;
}
.card h2 {
    font-size: 20px;
    margin-top: 0;
    color: black;
}

.card p {
    margin: 0;
    line-height: 1.6;
}

.card a {
    background-color:#0078d4;
    border-radius: 5px;
    padding: 4px;
    font-size: small;
    color: whitesmoke;
    text-decoration: none;
}

.card a:hover {
    font-weight: bold;
}

hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

.card:hover{
    transform: scale(1.01);
   
}
.card img {
    max-width: 100%;
    max-height: 200px; /* Adjust the maximum height as needed */
  }


